import React from 'react';
import IconWrapper from './IconWrapper';

const %{compName}% = props => {

    return <IconWrapper
        viewBox = {`%{viewBox}%`}
        data = {`%{data}%`}
        {...props} />;
};

export default %{compName}%;